* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background-color: #fff;
    color: #005FAC;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;

}


/* header CSS  */
.header {
    background-image: url('../images/banner/banner3.png');
    min-height: 100vh;

}

.banner-container {
    text-align: right;
    margin-left: 845px;
    margin-right: 230px;
}

.banner-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    padding-top: 130px;
}

.banner-description {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;

}

/* failure section css  */

.failure-section {
    display: flex;
    max-width: 1092px;

    margin: 0 auto;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 24px;
}

.section-description {
    color: #444343;
    margin-bottom: 16px;
}

.section-points {
    margin-bottom: 8px;
    color: #444343;
}

.fa-solid {
    color: rgb(41, 231, 41);
}

/* My Plan section css  */

.plans-section {
    margin-bottom: 130px;
    display: flex;
    justify-content: space-evenly;
}

.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.plan-image {
    width: 92px;
    height: 92px;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}